body {
  font-family: poppins, sans-serif;
  background: #fff5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.contenedor {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-buttom: 15px;
}

input {
  width: 100%
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  color: var(--blanco);
  background: var(--dorado);
  font-weight:600;
  cursor: pointer;
  transition: background 0.3s;
}
button: hover {
  background-color: var(--rosa);
}
  
  
  
