/* ===============================
PRODUCTOS
=============================== */
.productos {
  padding: 4rem 8%;
}

.titulo {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: var(--dorado);
  margin-bottom: 2.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: var(--blanco);
  border-radius: 15px;
  overflow: hidden;
  max-width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-info {
  padding: 1rem;
  text-align: center;
}

.card-info h4 {
  font-weight: 600;
  color: #444;
  margin-bottom: 0.5rem;
}

.card-info p {
  color: #777;
  margin-bottom: 1rem;
}

.btn-agregar {
  background-color: var(--dorado);
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-agregar:hover {
  background-color: var(--rosa);
}

